---
title: Navigation Header
---
<header class="w-full m-0 p-2 sticky z-40 top-0 left-0 bg-white/70 backdrop-blur ps-12 pe-12 max-lg:ps-4 max-lg:pe-4 max-md:ps-2 max-md:pe-2"><div class="max-w-screen-2xl mx-auto min-h-12 flex flex-col gap-5"><div class="flex-wrap gap-4 top-0 left-0 border-b-slate-300 p-0"><div class="flex-1 flex-row flex justify-between max-md:flex-row max-md:items-center"><a href="/" class="min-h-5"><img src="https://d31ol4a85wtdul.cloudfront.net/assets/trybettercraft/11ty-template/src/media/white.png" alt="" id="i1c1" class="object-cover object-center w-fit h-12"></a><div class="flex gap-4"><nav class="flex justify-center"><ul class="flex items-center space-x-4 max-md:hidden"><!-- Company Dropdown --><li class="relative group text-lg"><button class="px-4 py-2 text-lg text-gray-700 rounded-lg hover:bg-violet-100 hover:text-gray-900 focus:outline-none">
                                Company
                            </button><div class="absolute min-w-48 border border-gray-300 left-0 bg-white rounded-lg shadow-lg hidden group-hover:block z-10"><ul class="p-1"><li><a href="#" class="block px-4 py-2 rounded text-gray-700 hover:bg-violet-100 hover:text-gray-900">About Us</a></li><li><a href="#" class="block px-4 py-2 rounded text-gray-700 hover:bg-violet-100 hover:text-gray-900">Achievement</a></li><li><a href="#" class="block px-4 py-2 rounded text-gray-700 hover:bg-violet-100 hover:text-gray-900">Careers</a></li></ul></div></li><!-- Solutions Dropdown --><li class="relative group text-lg"><button class="px-4 py-2 text-gray-700 rounded-lg hover:bg-violet-100 hover:text-gray-900 focus:outline-none">
                                Solutions
                            </button><div class="absolute min-w-48 border border-gray-300 left-0 bg-white rounded-lg shadow-lg hidden group-hover:block z-10"><ul class="p-1"><li><a href="#" class="block px-4 rounded py-2 text-gray-700 hover:bg-violet-100 hover:text-gray-900">Gen AI</a></li><li><a href="#" class="block px-4 rounded py-2 text-gray-700 hover:bg-violet-100 hover:text-gray-900">Cloud</a></li><li><a href="#" class="block px-4 rounded py-2 text-gray-700 hover:bg-violet-100 hover:text-gray-900">Data</a></li><li><a href="#" class="block px-4 rounded py-2 text-gray-700 hover:bg-violet-100 hover:text-gray-900">Digital</a></li></ul></div></li><!-- Resources Dropdown --><li class="relative group text-lg"><button class="px-4 py-2 text-lg text-gray-700 rounded-lg hover:bg-violet-100 hover:text-gray-900 focus:outline-none">
                        Resources
                        </button><div class="absolute min-w-[200px] border border-gray-300 left-0 bg-white rounded-lg shadow-lg hidden group-hover:block z-10"><ul class="p-1"><li><a href="/blog" class="block px-4 py-2 rounded text-gray-700 hover:bg-violet-100 hover:text-gray-900">Blog</a></li><li><a href="#" class="block px-4 py-2 rounded text-gray-700 hover:bg-violet-100 hover:text-gray-900">QL maxincome Case study</a></li><li><a href="#" class="block px-4 py-2 rounded text-gray-700 hover:bg-violet-100 hover:text-gray-900">Sepang Case study</a></li><li><a href="#" class="block px-4 py-2 rounded text-gray-700 hover:bg-violet-100 hover:text-gray-900">Pelangi Case study</a></li></ul></div></li></ul></nav><a href="/contactus" class="min-h-5"><button class="px-5 py-2.5 text-white cursor-pointer rounded-xl bg-violet-800"><span id="iudeh">Contact Us</span></button></a></div></div></div></div></header>