---
title: Policies Templates
description: Templates for policies page
layout: base.njk
---
{% inc "src/_includes/components/2025-10-30-.njk" %}<div class="flex bg-violet-800 p-12 min-h-[300px] justify-center items-center max-md:min-h-[200px] max-lg:min-h-[200px]"><h1 class="text-center font-medium max-w-6xl w-full border-solid border-white border-b-2 border-t-2 text-slate-50 ms-auto me-auto pt-4 pb-4 ps-8 pe-4 max-md:text-2xl max-lg:text-5xl text-6xl h-fit" data-gjs-type="nunjucks-code">{{heading}}
        </h1></div><section class="flex flex-col gap-5 py-12 prose-lg max-w-6xl prose ms-auto me-auto prose-p:my-0 prose-h3:my-0 prose-li:my-0 prose-ul:my-0" data-gjs-type="nunjucks-code">{{content | safe}}
    </section>{% inc "src/_includes/components/2025-11-01-footer.njk" %}