---
title: Axrail Blogs
description: "{{description}}"
layout: base.njk
---
{% inc "src/_includes/components/2025-10-30-.njk" %}

<div class="prose px-4 ms-auto me-auto gjs-selected" data-gjs-type="nunjucks-code">
    <p class="text-gray-500">{{created_date}}</p>
    <h1>{{title}}</h1>
    <img src="{{cover}}" alt="{{title}}" class="aspect-video w-full">
    {{content | safe}}
</div>
    <div class="py-12 max-w-4xl mx-auto gap-4 flex px-4 flex-col">
        <p class="text-gray-500">Other posts</p>
        <div class="grid grid-cols-3 max-lg:grid-cols-1 gap-4" data-gjs-type="nunjucks-code">
            {% for post in collections.blogs | limit(3) %}
                <a href="{{ post.url }}">
                    <article class="bg-white relative flex flex-col gap-3">
                        <img src="{{ post.data.cover }}" alt="{{ post.data.title }}" class="aspect-video w-full"/>
                        <p class="mb-2 line-clamp-2 ps-2 font-medium pe-2">{{ post.data.title }}</p>
                    </article>
                </a>
            {% endfor %}
        </div>
    </div>


{% inc "src/_includes/components/2025-11-01-footer.njk" %}
