---
title: "Blog | Axrail "
description: Axrail blogs
permalink: /blog/
layout: base.njk
---
{% inc "src/_includes/components/2025-10-30-.njk" %}<div class="flex min-h-12 mt-5 bg-violet-800 justify-center items-center p-12"><h1 id="id4xyh" class="text-slate-50 text-9xl w-full text-center border-white border-t-4 border-b-4 pt-4 pb-4 max-lg:font-bold max-md:ps-0 max-md:pe-0 max-md:text-5xl font-bold max-w-2xl">THE BLOG</h1></div><section class="w-full"><div class="mx-auto min-h-12 flex flex-col gap-5 max-w-screen-2xl p-4 ps-12 pe-12 max-lg:ps-4 max-lg:pe-4 max-lg:m-0"><div class="grid grid-cols-4 max-lg:grid-cols-2 gap-8 max-sm:grid-cols-1" data-gjs-type="nunjucks-code">
            {% for post in collections.blogs %}
                <a href="{{ post.url }}">
                    <article class="bg-white relative aspect-square">
                        <img src="{{ post.data.cover }}" alt="{{ post.data.title }}" class="w-full h-full object-cover top-0 left-0 z-10">
                        <div class="absolute h-full flex flex-col items-start justify-between top-0 left-0 p-4 bg-black/50 text-white z-20">
                            <p class="text-base mb-2 line-clamp-3">{{ post.data.created_date }}</p>
                            <p class="text-xl mb-2 line-clamp-3">{{ post.data.title }}</p>
                        </div>
                    </article>
                </a>
            {% endfor %}
        </div></div></section>{% inc "src/_includes/components/2025-11-01-footer.njk" %}